@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Work+Sans:wght@100;300;400;600;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Young+Serif&display=swap');
*{
    box-sizing: border-box;
    font-family: 'Young Serif', serif;
    margin: 0;
    padding: 0;
}

.contenedor-header{
    background-color: rgba(255, 255, 255, 0.171);
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99;

}
.contenedor-header header{
    max-width: 1100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
}
.contenedor-header header .logo a{
    
    font-family: 'Righteous';
    font-size: 36px;
    color: blue;
    text-decoration: none;
    
}
.contenedor-header header ul{
    display: flex;
    list-style: none;
}
.contenedor-header header nav ul li a{
    text-align: none;
    font-size: 20px;
    color: black;
    margin: 0 15px;
    padding: 3px;
    transition: .5s;
    text-decoration: none;
}
.contenedor-header header nav ul li a:hover{
    color: blue;
}



.servicio-contenedor{
    width: 100%;
    background: linear-gradient(120deg, rgba(161, 196, 253, 0.301) 0%, rgba(194, 233, 251, 0.308) 100%), url(img/dentista-profesional-masculino-guantes-mascara-discutir-como-vera-tratamiento-dientes-paciente.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    color: #1e2326;
    
    
    
}

.ser-tit{
    
    font-weight: 300;
    font-size:  80px;
    
    position: absolute;
    bottom:250px
    
}
.ser-sub{
    text-align: center;
    
    position: absolute;
    bottom: 200px;
    margin: 20px 0;
    font-size: 20px;

}
.turnos{
    position: absolute;
    bottom: 150px;
}
.turniyos{
    padding:14px 50px;
    border: none;
    background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
    font-weight: 500;
    border-radius: 100px;
    box-shadow:0 0 20px rgba(0, 0, 0, 0.3) ;
    
    
}
.turniyos:hover{
    background-color: aliceblue;
}
